Repository aliaksandr-andreyeu/nodejs-connect-mongoose-swagger: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:js:fix

.lintstagedrc.json:

{
  "./**/*.js": ["npm run format", "npm run lint:js:fix", "git add"],
  "./**/*.json": ["npm run format", "git add"]
}

Add AGENTS.md with Cursor Cloud development instructions
  AGENTS.md
  src/environments/.env.development
Due: none

Added mongodb docker compose
  .babelrc.json
  .env.example
  .eslintignore
  .eslintrc.json
  .github/dependabot.yml
  .github/workflows/pr-checks.yml
  .gitignore
  .husky/pre-commit
  .lintstagedrc.json
  .npmrc
  .prettierignore
  data/mongodb/.gitkeep
  docker-compose.yml
  docker/mongo-init/01-create-app-user.js
  jsconfig.json
Due: npm run format, npm run lint:js:fix

Added tests
  README.md
  jest.e2e.config.json
  jest.unit.config.json
  package.json
  src/__tests__/e2e/auth-users.e2e.test.ts
  src/__tests__/http-utils.test.ts
  src/__tests__/jwt-verify.test.ts
  src/__tests__/password-policy.test.ts
  tsconfig.json
Due: npm run format

Fixed pipeline
  .gitignore
  package-lock.json
Due: npm run format

Fixed ts config for test types
  tsconfig.json
Due: npm run format

Added redis caching
  .env.example
  .gitignore
  README.md
  data/redis/.gitkeep
  docker-compose.yml
  package-lock.json
  package.json
  src/app/index.ts
  src/constants/config/index.ts
  src/constants/http-status-message/index.ts
  src/db/redis.ts
  src/index.ts
  src/middlewares/auth-rate-limit/index.ts
  src/middlewares/index.ts
  src/test/setup.ts
Due: npm run format

Updated description
  README.md
  src/openapi/document.ts
  src/public/swagger.json
Due: npm run format

Fixed ci
  .github/workflows/ci.yml
  src/public/js/swagger-ui-bundle.js
Due: npm run format, npm run lint:js:fix

Fixed changes
  package-lock.json
  src/public/css/swagger-ui.css
  src/public/js/swagger-ui-bundle.js
  src/public/js/swagger-ui-standalone-preset.js
Due: npm run format, npm run lint:js:fix
