Repository aliaksandr-andreyeu/nodejs-connect-mongoose-swagger: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run format, npm run lint:js:fix

Add mongodb connect component
  package.json
  src/db/index.js
  src/environments/.env.development
  src/environments/.env.production
  src/index.js
Due: npm run format, npm run lint:js:fix

Add modules aliases
  .babelrc.json
  jsconfig.json
Due: npm run format

Add middleware bodyParser, constants, helpers
  src/app/index.js
  src/constants/api-errors/index.js
  src/constants/http-header/index.js
  src/constants/http-status-message/index.js
  src/constants/index.js
  src/helpers/error-handler/index.js
  src/helpers/http-utils/index.js
  src/helpers/index.js
  src/index.js
  src/middlewares/body-parser/index.js
  src/middlewares/index.js
Due: npm run format, npm run lint:js:fix

Add req/res router
  .babelrc.json
  src/middlewares/index.js
  src/middlewares/router/index.js
Due: npm run format, npm run lint:js:fix

Add new aliases
  .babelrc.json
  jsconfig.json
Due: npm run format

Add user model
  src/models/index.js
  src/models/user/index.js
Due: npm run format, npm run lint:js:fix

Add users controller & service
  src/app/index.js
  src/helpers/index.js
  src/middlewares/router/index.js
  src/routes/index.js
  src/routes/users/controller.js
  src/routes/users/index.js
  src/routes/users/router.js
  src/routes/users/service.js
Due: npm run format, npm run lint:js:fix

Add http & db helpers
  src/helpers/db-utils/index.js
  src/helpers/http-utils/index.js
Due: npm run format, npm run lint:js:fix

Add common env config due DRY & force babel StrictMode
  .babelrc.json
  src/app/index.js
  src/app/router/index.js
  src/constants/api-errors/index.js
  src/constants/config/index.js
  src/constants/index.js
  src/index.js
  src/middlewares/index.js
  src/middlewares/router/index.js
Due: npm run format, npm run lint:js:fix

Add auth signIn & signUp routes with handlers
  src/app/index.js
  src/helpers/http-utils/index.js
  src/helpers/index.js
  src/routes/auth/controller.js
  src/routes/auth/index.js
  src/routes/auth/router.js
  src/routes/auth/service.js
Due: npm run format, npm run lint:js:fix

Add response delay middleware
  src/app/index.js
  src/middlewares/index.js
  src/middlewares/response-delay/index.js
Due: npm run format, npm run lint:js:fix

Modify Auth controller
  src/app/index.js
  src/routes/auth/controller.js
Due: npm run format, npm run lint:js:fix

Add authorization token verifier for private endpoints
  src/app/router/index.js
  src/app/router/jwt-verify/index.js
Due: npm run format, npm run lint:js:fix

Add errorHandlers middleware
  src/middlewares/body-parser/index.js
  src/middlewares/errors-handler/index.js
  src/middlewares/index.js
Due: npm run format, npm run lint:js:fix

Modify apiErrors && auth controller
  src/constants/api-errors/index.js
  src/constants/http-status-message/index.js
  src/routes/users/controller.js
Due: npm run format, npm run lint:js:fix

Add jwt verify to helpers
  src/helpers/http-utils/index.js
  src/helpers/index.js
Due: npm run format, npm run lint:js:fix

Improve user && auth services
  src/routes/auth/service.js
  src/routes/users/router.js
  src/routes/users/service.js
Due: npm run format, npm run lint:js:fix

Add signout to Auth controller
  src/helpers/http-utils/index.js
  src/routes/auth/controller.js
  src/routes/auth/service.js
Due: npm run format, npm run lint:js:fix

Modify user update patch
  src/constants/index.js
  src/helpers/index.js
  src/helpers/utils/index.js
  src/middlewares/body-parser/index.js
  src/middlewares/errors-handler/index.js
  src/models/user/index.js
  src/routes/auth/service.js
  src/routes/users/controller.js
  src/routes/users/service.js
Due: npm run format, npm run lint:js:fix

Add account route with controller & service
  src/app/index.js
  src/routes/account/controller.js
  src/routes/account/index.js
  src/routes/account/router.js
  src/routes/account/service.js
  src/routes/index.js
  src/routes/users/controller.js
Due: npm run format, npm run lint:js:fix

Add contactUs method to Account route
  src/routes/account/service.js
  src/routes/auth/service.js
Due: npm run format, npm run lint:js:fix

Add getAccount, editAccount, changePassword methods to Account router
  src/models/user/index.js
  src/routes/account/controller.js
  src/routes/account/router.js
  src/routes/account/service.js
Due: npm run format, npm run lint:js:fix

Improve Account route editAccount method
  src/routes/account/service.js
Due: npm run format, npm run lint:js:fix

Imporve Account service & controller
  package.json
  src/app/index.js
  src/app/router/jwt-verify/index.js
  src/constants/api-errors/index.js
  src/helpers/http-utils/index.js
  src/helpers/index.js
  src/routes/account/service.js
Due: npm run format, npm run lint:js:fix

Modify Users & Account services & controllers
  src/routes/account/service.js
  src/routes/auth/controller.js
  src/routes/auth/router.js
  src/routes/auth/service.js
  src/routes/users/controller.js
  src/routes/users/service.js
Due: npm run format, npm run lint:js:fix

Add swagger middleware
  src/app/index.js
  src/constants/config/index.js
  src/middlewares/index.js
  src/middlewares/response-delay/index.js
  src/middlewares/swagger/index.js
Due: npm run format, npm run lint:js:fix

Add swagger json boilerplate
  .eslintignore
  package.json
  src/app/index.js
  src/middlewares/swagger/index.js
  src/models/user/index.js
  src/public/css/index.css
  src/public/css/swagger-ui.css
  src/public/css/swagger-ui.css.map
  src/public/img/favicon-16x16.png
  src/public/img/favicon-32x32.png
  src/public/index.html
  src/public/js/swagger-initializer.js
  src/public/js/swagger-ui-bundle.js
  src/public/js/swagger-ui-bundle.js.LICENSE.txt
  src/public/js/swagger-ui-bundle.js.map
  src/public/js/swagger-ui-standalone-preset.js
  src/public/js/swagger-ui-standalone-preset.js.LICENSE.txt
  src/public/js/swagger-ui-standalone-preset.js.map
  src/public/swagger.json
  src/routes/auth/router.js
  src/routes/auth/service.js
Due: npm run format, npm run lint:js:fix

Modify environment variables
  .eslintignore
  .gitignore
  package.json
  src/environments/.env.development
  src/environments/.env.production
  src/public/swagger.json
Due: npm run format

Update gitIgnore
  .eslintignore
  .gitignore
Due: none

Add swagger Bearer auth, Users service body validation
  .gitignore
  src/helpers/http-utils/index.js
  src/helpers/index.js
  src/middlewares/errors-handler/index.js
  src/public/swagger.json
  src/routes/account/service.js
  src/routes/auth/service.js
  src/routes/users/service.js
Due: npm run format, npm run lint:js:fix

Update Users response schema
  src/public/swagger.json
Due: npm run format

Update readme
  README.md
Due: none

Add jest for unit tests
  .eslintignore
  .eslintrc.json
  .gitignore
  .prettierignore
  jest.config.json
  package.json
Due: npm run format

Fix updateUser method
  src/index.js
  src/routes/users/service.js
Due: npm run format, npm run lint:js:fix

Update user model with services response
  src/models/user/index.js
  src/routes/account/service.js
  src/routes/auth/service.js
  src/routes/users/service.js
Due: npm run format, npm run lint:js:fix

Add access allow origin true
  package.json
  src/app/index.js
  src/helpers/http-utils/index.js
Due: npm run format, npm run lint:js:fix

Remove deprecated meta header
  .gitignore
  src/public/index.html
Due: none

Setup number env vars
  src/constants/config/index.js
Due: npm run format, npm run lint:js:fix

Path conditions:
  npm run format: (any of: ./**/*.js) or (any of: ./**/*.json)
  npm run lint:js:fix: any of: ./**/*.js
